<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글 상세보기 페이지입니다.</h1>
    <hr/>
    title :{{post.title}} content : {{post.content}} 
    <!-- 알아서 gettitle을 적용시켜준다. 머스탯치라서 가능?-->
</body>
</html>